:root{
  --sidebar-bg-color : rgb(13, 12, 26);
  --sidebar-color : rgb(255,255,255);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.App{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App .location{
  padding-left: 10rem;
}

.menu-button{
  background: transparent;
  outline: none;
  border: none;
  filter: invert(1); 
  font-size: 1.5rem;
  margin-right: 1rem;
}
@media screen and (min-width: 500px) {
  .menu-button{
   display: none;
  }
 }


@media screen and (min-width: 900px) {
 .App{
  flex-direction: row;
 }
}