@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
:root{
  --sidebar-bg-color : rgb(2, 28, 34);
  --sidebar-color : rgb(255,255,255);
  --white-bg: rgb(255, 255, 255);
  --card-light: rgb(250, 250, 250);
  --body-bg-light: rgb(234, 234, 234);
  --global-bg-dark: rgb(35, 35, 35);
  --color-dashbord: rgb(72, 87, 79);
  --color-dashbord-circle: rgb(44, 81, 61);
  --color-title: rgb(65 87 76);
  --body-bg-dark: rgb(20, 20, 20);
  --light-color: rgb(250, 250, 250);
  --dark-color: rgb(47, 47, 47);
  --light-color-hover: rgb(121, 121, 121);
  --icon: rgb(121, 121, 121);
  --light-bg-hover: rgb(240, 240, 240);
  --li-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  --navbar-dark-bg: rgb(35, 35, 35);
  --dark-bg: rgb(35, 35, 35);
  --navbar-light-bg: rgb(250, 250, 250);
  --navbar-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  --button-box-shadow: rgba(0, 0, 0, 0.628) 0px 3px 8px;
  --box-shadow-card: rgba(181, 179, 179, 0.439) 0px 7px 15px 0px;
  --container-box-shadow: rgba(0, 0, 0, 0.628) 0px 3px 8px;
  --input-border: 1px solid rgb(186, 186, 186);
  --light-border: 1px solid rgb(186, 186, 186);
  --dark-border: 1px solid rgb(77, 77, 77);
  --border-icon: 3px solid rgb(13, 99, 92);
  --white-button-border: 3px solid rgb(234, 238, 238);
  --border-white: 2px solid rgb(186, 186, 186);
  --border-dark: 1px solid rgba(255, 255, 255, 0.107);
  --border-white2: 1px solid rgb(186, 186, 186);
  --icon-span-color: rgb(25, 112, 96);
  --icon-color: rgb(63, 72, 70);
  --light-bg: rgb(210, 208, 208);
  --display-1: 0.5rem 0.5rem;
  --display-2: 1rem 0.5rem;
  --display-3: 2rem 1rem;
  --display-4: 4rem 2rem;
  --display-5: 0.75rem 1rem;
  --display-6: 0.5rem 2rem;
  --display-7: 1rem 2rem;
  --display-8: 0.5rem 2rem;
  --display-9: 0.5rem 1rem;
  --size-full: 100%;
  --size-xxl: 95%;
  --size-xl: 90%;
  --size-large: 85%;
  --size-medium: 80%;
  --size-smedium: 75%;
  --size-small: 70%;
  --size-half: 50%;
  --size-form: 350px;
  --size-blog: 240px;
  --linear-home: linear-gradient(
    90deg,
    rgb(2, 28, 34) 0%,
    rgb(15, 34, 38) 14%,
    rgb(27, 48, 52)57%,
    rgb(15, 34, 38) 86%,
    rgb(2, 28, 34) 100%
  );

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  /* transition: 0.5s ease-in-out; */
}
.header-tag{
  filter: invert(1);
}
a {
  text-decoration: none;
  color: var(--sidebar-color);
}
a:hover {
  transition: 0.2s ease-in-out;
  color: var(--light-color-hover);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  display: none !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: pointer;
  border: none; 
  outline: none;
}
pre{
  max-height: 25rem;
  width: var(--size-full);
  margin: 0 !important;
  white-space: pre-wrap !important;
  overflow: scroll;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: var(--size-full);
}
.container{
  padding-left: 0rem;
  padding-bottom: 2rem;
}

.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--linear-home);
  min-height: 100vh;
}

.App .location{
  padding-top: 5rem;
  width: 100%;
}

.menu-button{
  background: transparent;
  outline: none;
  border: none;
  filter: invert(1); 
  font-size: 1.5rem;
  margin-right: 1rem;
}
.nav{
 flex-direction: column;
 align-items: flex-start;
 height: 100%;
 justify-content: flex-start;

} 

.btn{
  background: transparent;
  outline: none;
  border: none;
  filter: invert(1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.item-container {
  display: grid;
  width: var(--size-xxl);
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  padding: 1rem;
}
.item-container-single{
  display: grid;
  width: var(--size-xxl);
  grid-template-columns: repeat(1, 1fr);

}
.item-container-full{
  display: grid;
  width: var(--size-xxl);
  grid-template-columns: repeat(1, 1fr);
}

.item-container-full .item,
.item-container-single .item,
.item-container .item {
  min-height: 5rem;
  justify-content: center;
  align-items: center;
  position: relative;
 width: var(--size-xxl);
padding: var(--display-8);
 background: var(--card-light);
 border: var(--light-border);
 border-radius: 5px;
 box-shadow: var(--box-shadow-card);
}
.item-container-full .item{
  width: var(--size-full);
}
.Copy-Header{
  width: var(--size-xxl);
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 0rem;
  color: var(--light-color);
 
}
.code-header {
  flex-direction: row;
  padding: var(--display-5);
  background: var(--sidebar-bg-color);
  border: 1px solid rgba(244, 244, 244, 0.088);
  color: var(--light-color);
 
}

.code-space .code-area {
  margin-bottom: 1rem;
}

 .code-header .copy-button {
  border: none;
  outline: none;
  background: transparent;
  filter: invert(1);
  cursor: pointer;
  font-size: 1.3rem;
}


@media screen and (min-width: 500px) {
  .menu-button{
   display: none;
  }
 }


/* Contact-form--------- */



 @media screen and (min-width: 700px) {
  .item-container {
    grid-template-columns: repeat(2, 1fr);
  }
 }
@media screen and (min-width: 900px) {
 .App{
  flex-direction: row;
 }
 .App .location{
  padding-top: 0rem;
  padding-left: 10rem;
}
.container{
  padding-left: 4rem;
}
.item-container {
  grid-template-columns: repeat(2, 1fr);
}
.item-container-single{
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

}

@media screen and (min-width: 1200px) {
  
 .item-container {
   grid-template-columns: repeat(3, 1fr);
 }
 
 }

 @media screen and (min-width: 1600px) {
  
  .item-container {
    grid-template-columns: repeat(4, 1fr);
  }
  
  }