.Form {
  padding: var(--display-7);
}

.standart-form {
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: rgba(29, 29, 29, 0.39);
  border: 1px solid rgb(167, 167, 167);
  padding: 1rem 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.standart-form h3{
    filter: invert(1);
}
.standart-form .form-control {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.standart-form .form-control input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 13px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.standart-form .form-control label {
  color: rgb(255, 255, 255);
}

.standart-form button {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  width: 90%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.standart-form button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  /* border: 1px solid black; */
  font-weight: 900;
}
/* ------------------------------ */
.standart-form-dark h3{
    filter: invert(1);
}
.standart-form-dark {
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: rgba(29, 29, 29, 0.968);
  border: 1px solid rgb(167, 167, 167);
  padding: 1rem 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.standart-form-dark .form-control {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.standart-form-dark .form-control input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 13px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: rgb(0, 0, 0);
  color: #ffffff;
}

.standart-form-dark .form-control label {
  color: rgb(255, 255, 255);
}
.standart-form-dark button {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  width: 90%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.standart-form-dark button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(252, 252, 252);
  background: rgb(0, 0, 0);
  border: 1px solid black;
  font-weight: 900;
}


/* ------------------------------ */
.standart-form-dark-bottom h3{
    filter: invert(1);
}
.standart-form-dark-bottom{
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: rgba(29, 29, 29, 0.968);
  border: 1px solid rgb(167, 167, 167);
  padding: 1rem 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}
.standart-form-dark-bottom .form-control {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
}

.standart-form-dark-bottom .form-control input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid White;
  outline: none;
  background: transparent;
  color: #ffffff;
}
.standart-form-dark-bottom .form-control input:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}
.standart-form-dark-bottom .form-control label {
  color: rgb(255, 255, 255);
}
.standart-form-dark-bottom button {
  color: rgb(255, 255, 255);
  background: transparent;
  width: 90%;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid white;
  transition: 0.3s ease-in-out;
}

.standart-form-dark-bottom button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(252, 252, 252);
  background: rgb(0, 0, 0);
  border: 1px solid black;
  font-weight: 900;
}

/* ------------- */

 .standart-form-bottom{
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.968);
  border: 1px solid rgb(214, 214, 214);
  padding: 1rem 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}
.standart-form-bottom .form-control {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
}

.standart-form-bottom .form-control input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
  color: #000000;
}
.standart-form-bottom .form-control input:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}
.standart-form-bottom .form-control label {
  color: rgb(0, 0, 0);
}
.standart-form-bottom button {
  color: rgb(0, 0, 0);
  background: transparent;
  width: 90%;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}

.standart-form-bottom button:hover {

  color: rgb(252, 252, 252);
  background: #38925e;
  border-bottom: none;
  font-weight: 900;
} 




/* ---------------- */

.input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.input-data input{
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}

.input-data input:focus ~ .label, 
.input-data input:valid ~ .label{
  transform: translateY(-20px);
  font-size: 14px;
  color: rgb(82, 81, 81);
}


.input-data .label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
/* ---------------------------- */



.input-data-border{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.input-data-border input{
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  transition: 0.3s ease-in-out;
  border: 2px solid rgb(137, 137, 137);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}

.input-data-border input:focus ~ .label, 
.input-data-border input:valid ~ .label{
  transform: translateY(-20px);
  font-size: 14px;
 
  color: rgb(82, 81, 81);
  background: white;
  left: 20px;
}

.input-data-border .label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  left: 2rem;
  font-size: 16px;
  transition: all 0.3s ease;
}


/* ------------------------------- */


.something{
  width: 5rem;
  height: 1rem;
 border: 1px solid rgb(207, 207, 207);
 display: flex;
 align-items: center;
 padding:  1rem ;
 position: relative;
 background: rgb(207, 207, 207);
 transition: 0.3s ease-in-out;
border-radius: 10rem;
}
.something input[type="checkbox"]:not(:checked){
z-index: 12;
opacity: 0.01;
cursor: pointer;
transition: 0.3s ease-in-out;
}
.something input[type="checkbox"]:not(:checked) + .label{
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background: rgb(90, 89, 89);
  border-radius: 5rem;
  transition: 0.3s ease-in-out;
  
}

.something input[type="checkbox"]:checked{
  position: absolute;
  right: 1rem;
  z-index: 12;
  opacity: 0.01;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}


.something input[type="checkbox"]:checked + .label{
  content: "";
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background: rgb(253, 253, 253);
  border-radius: 5rem;
  transition: 0.3s ease-in-out;
}


/* ---------------- */
.form-container{
  position: relative;
  padding: 2rem 4rem;
  height: 100%;
  padding-bottom: 5rem;
  box-shadow: rgba(181, 179, 179, 0.939) 0px 7px 15px 0px;
}
.form-flex{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.row,.column{
  position: relative;
}
.row{
  flex-direction: column;
}
.form-container .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.form-container .input-data input,
.form-container .input-data  textarea{
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background: transparent;
}

.form-container .input-data input:focus ~ .label, 
.form-container .input-data  textarea:focus ~ .label,
.form-container .input-data input:valid ~ .label,
.form-container .input-data textarea:valid ~ .label{
  transform: translateY(-20px);
  font-size: 14px;
  color: rgb(82, 81, 81);
}
.form-container .input-data textarea{
  resize: none;
  padding-top:20px;
  width: 100%;
  height: 5rem;
}

.form-container .input-data .label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.form-container #submit-btn{
  position: relative;
  top: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  cursor: pointer;
  font-weight: 700;
  transition: 0.5s all ;
}

.form-container #submit-btn:active,
.form-container #submit-btn:hover{
  position: relative;
  background: rgb(142, 142, 142);
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}

/* ------------------------ */

.form-container-dark{
  position: relative;
  padding: 2rem 4rem;
  height: 100%;
  padding-bottom: 5rem;
  background: rgba(38, 37, 37, 0.888);
  box-shadow: rgba(181, 179, 179, 0.939) 0px 7px 15px 0px;
}
.form-flex{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.row,.column{
  position: relative;
}
.row{
  flex-direction: column;
}
.form-container-dark .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.form-container-dark .input-data input,
.form-container-dark .input-data  textarea{
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.514);
  background: transparent;
  color:rgb(255, 255, 255);

}

.form-container-dark .input-data input:focus ~ .label, 
.form-container-dark .input-data  textarea:focus ~ .label,
.form-container-dark .input-data input:valid ~ .label,
.form-container-dark .input-data textarea:valid ~ .label{
  transform: translateY(-25px);
  font-size: 14px;
  color: rgb(225, 225, 225);
}
.form-container-dark .input-data textarea{
  resize: none;
  padding-top:20px;
  width: 100%;
  height: 5rem;
}

.form-container-dark .input-data .label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
}

.form-container-dark #submit-btn{
  position: relative;
  top: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.514);
  cursor: pointer;
  font-weight: 700;
  transition: 0.5s all ;
  color: rgb(255, 255, 255);
}

.form-container-dark #submit-btn:active,
.form-container-dark #submit-btn:hover{
  position: relative;
  background: rgba(255, 255, 255, 0.201);
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  font-weight: 700;
}
/* ------------------------------------------------- */



.Contact-form {
  flex-direction: column;
  box-shadow: rgba(181, 179, 179, 0.939) 0px 7px 15px 0px;
  padding: 1rem 2rem;
  gap: 2rem;
}
.Contact-form .contact-info{
  align-items: flex-start;
  gap: 2rem;
}

.Contact-form .form-container-1{
  position: relative;
  /* padding: 2rem 4rem; */
  height: 100%;
  padding-bottom: 5rem;

}
.Contact-form  .form-flex{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.Contact-form .row,.column{
  position: relative;
}
.Contact-form  .row{
  flex-direction: column;
}
.Contact-form .form-container-1 .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.Contact-form .form-container-1 .input-data input,
.Contact-form .form-container-1 .input-data  textarea{
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background: transparent;
}

.Contact-form .form-container-1 .input-data input:focus ~ .label, 
.Contact-form .form-container-1 .input-data  textarea:focus ~ .label,
.Contact-form .form-container-1 .input-data input:valid ~ .label,
.Contact-form .form-container-1 .input-data textarea:valid ~ .label{
  transform: translateY(-20px);
  font-size: 14px;
  color: rgb(82, 81, 81);
}
.Contact-form .form-container-1 .input-data textarea{
  resize: none;
  padding-top:20px;
  width: 100%;
  height: 5rem;
}

.Contact-form .form-container-1 .input-data .label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.Contact-form .form-container-1 #submit-btn{
  position: relative;
  top: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  cursor: pointer;
  font-weight: 700;
  transition: 0.5s all ;
}

.Contact-form .form-container-1 #submit-btn:active,
.Contact-form .form-container-1 #submit-btn:hover{
  position: relative;
  background: rgb(142, 142, 142);
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}


@media screen and (min-width:600px) {
  .Contact-form{
    flex-direction: row;
  }
 
  .Contact-form .row{
  flex-direction: row;
  }
}








@media screen and (min-width:600px) { 
  .row{
    flex-direction: row;
  }
  
}


@media screen and (min-width: 1200px) {
   .standart-form,
   .standart-form-bottom,
   .standart-form-dark,
   .standart-form-dark-bottom{
    width: 300px;
   }
}