.Sidebar{
    background: var(--sidebar-bg-color );
    height: 5rem;
    position: fixed;
    width: var(--size-full);
    color: var(--sidebar-color);
    padding: 0.5rem; 
    flex-direction: row;
    border-right: var(--border-dark);
    gap: 2rem;
   }

   .Sidebar .sidebar-nav{
    position: absolute;
    width: var(--size-full);
    top:5rem;
    left: 0;
    background: var(--sidebar-bg-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    gap: 1rem;
    padding: 1rem;
}

.Sidebar .sidebar-logo{
    width: var(--size-full);
}
.Sidebar .sidebar-nav a span{
    font-size: 0.8rem;
}
.Sidebar .sidebar-logo a img{
   width: 100px;
   filter: invert(1)
}


.Sidebar  .navbar-icon{
  filter: invert(1); 
  font-size: 1.5rem;
   }



.navbar-down-container{
    position: relative;
    left: 10rem;
    top: 1rem;
    background: var(--sidebar-bg-color );
    padding: var(--display-2);
    width: var(--size-full);
    margin-bottom: 1rem;
    flex-direction: column;
    
}


 @media screen and (min-width: 500px) {
    .Sidebar .sidebar-nav{
        position:relative;
        top: 0rem;
        width: var(--size-full);
        left: 0;
        background: var(--sidebar-bg-color);
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: var(--size-full);
        gap: 1rem;
        margin-right: 1rem;
        padding: 0;
        display: flex;
    }
    .navbar-down{
        position: relative;
        top: 0rem;
        right: 3rem;
        width: 100%;
    }
    .navbar-down-container{
        gap: 1rem;
        left: 2rem;
        position: absolute;
        width: 10rem;
        border-left: var(--border-dark);
    }
   
 }
@media screen and (min-width: 900px) {
    .Sidebar{ 
        height: 100vh;
        width: 8rem;
        padding: 0.5rem;   
       flex-direction: column;
    }
       .Sidebar .sidebar-nav{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
        margin-right: 0rem;
        overflow: auto;
        
    }
    .Sidebar .sidebar-logo a img{
        width: 100%;
        filter: invert(1)
     }
     .navbar-down{
        position: relative;
        top: 1rem;
        left: 0;
        margin-bottom: 1rem;
        flex-direction: column;
    } 
    .navbar-down-container{
        position: relative;
        
        left: 0;
        width: var(--size-full);
        align-items: flex-start;
    }

}